.documentation-content {
  max-height: calc(100vh - 64px); /* Adjust the 64px to match the height of your header if needed */
  overflow-y: auto;
}

/* documentation.css */
.documentation-page {
  display: flex;
  height: 100vh;
}

@media (max-width: 1023px) {
  .documentation-page {
    padding-top: 4rem; /* Only apply padding on mobile devices */
  }
}

.sidebar {
  display: none;
}

.sidebar.show {
  display: block;
}

@media (min-width: 1024px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.lg\:hidden {
  display: none;
}

@media (max-width: 1023px) {
  .lg\:hidden {
    display: block;
  }
}
