/* Ensure the sidebar is fixed and the main content is scrollable */
/* .documentation-page {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: #1a202c;
  width: 100%;
  max-width: 250px;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
}

.sidebar.show {
  display: flex;
}

.sidebar .flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-1 {
  overflow-y: auto;
}

@media (min-width: 1024px) {
  .sidebar {
    display: flex;
  }

  .sidebar-header button {
    display: none;
  }
} */

/* Ensure the sidebar takes up half the screen width on mobile */
/* @media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    z-index: 50;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .flex-1 {
    margin-left: 0;
  }
} */

/* documentation.css */
/* .documentation-page {
  display: flex;
  height: 100vh;
}

@media (min-width: 1024px) {
  .documentation-page > .lg\:hidden {
    display: none;
  }
}

@media (max-width: 1023px) {
  .documentation-page > .hidden\:lg {
    display: none;
  }
} */




.documentation-content {
  max-height: calc(100vh - 64px); /* Adjust the 64px to match the height of your header if needed */
  overflow-y: auto;
}

/* documentation.css */
.documentation-page {
  display: flex;
  height: 100vh;
}

@media (max-width: 1023px) {
  .documentation-page {
    padding-top: 4rem; /* Only apply padding on mobile devices */
  }
}

.sidebar {
  display: none;
}

.sidebar.show {
  display: block;
}

@media (min-width: 1024px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.lg\:hidden {
  display: none;
}

@media (max-width: 1023px) {
  .lg\:hidden {
    display: block;
  }
}
